<div class="card">
  <div class="card-header" style="background-color: rgb(34, 34, 34)">
    <span style="color: aliceblue;"> Frontend Angular Test </span>
  </div>
</div>

<div class="row gx-0">
  <div class="col-md-2">
    <div style="width: 100%; background-color: rgb(245, 245, 245); height: 100rem;">
      <nav class="nav flex-column">
        <a class="nav-link active" href="#" routerLink="/dashboard">Dashboard</a>
        <a class="nav-link" href="#" routerLink="/list">List</a>
      </nav>
    </div>
  </div>

  <div class="col-md-10" style="padding: 2rem;">
    <router-outlet></router-outlet>
  </div>
</div>

